/*****************************************TAG SELECTORS*******************************************/
body{
    background-color: #fce0c9;
    color: black;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    padding-top: 50px;
}
h1, h2, h3, h4{
    font-weight: bolder;
}
a{
    color: #fce0c9;
    text-decoration: underline;
}
span{
    color: #FF7800;
}

/* General css */
.container-fluid{
    padding: 6% 10%;
}

.dark_container{
    background-color: #FF7800;
    color: white;
}

.sucursal{
    font-family: "Playwrite DK Loopet", cursive;
    font-size: 150%;
    font-weight: bold;
    padding: 1%;
    margin: 0;
}

/* Nav Bar Section*/
#navbar_menu{
    padding: 0;
}
.menu_list{
    padding-right: 30%;
}

.navbar-brand{
    height: 20%;
    margin: 0;
    padding: 0;
    width: 20%;
}

.logo
{
    display: inline-block;
    height: auto;
    margin-left: 35%;
    width: 20%;
}

.nav-item{
    padding: 0 2%;
    position: relative;
    text-align: right;
}

.nav-link{
    color: white;
    font-size: 1rem;
}

/* Home Section */
.title{
    font-size: 400%;
}
.home_text{
    padding-top: 10%;
}
.h-img{
    position: relative;
    padding-top: 3%;
}

.home_img{
    border-radius: 100%;
    display: block;
    height: auto;
    margin: auto;
    width: 100%;
}

.btn-flavors{
    --bs-btn-font-weight: bolder;
    --bs-btn-border-color: #FF7800;
    --bs-btn-hover-color: rgb(61, 59, 59);
    --bs-btn-hover-bg: #FF7800;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: #FF7800;
    --bs-btn-color: white;
    --bs-btn-bg: #FF7800;
    margin: 4%;
}

.fa-arrow-right{
    padding-right: 1%;
}

/* Products Section */
.products{
    position: relative;
}

.product_img{
    padding: 2%;
}

.product_img:hover{
    border-color: #fce0c9;
    border-style: dotted;
    border-width: 1rem;
    
}

/* Postres helados */
.product{
    margin: 3%;
    background-color: #fce0c9;
}
.product_item{
    display: inline-block;
    float: left;
}

/* Flavors Section  */
.flavor_img{
    border-radius: 100%;
    padding: 3%;
    width: 30%;
}

/* Nosotros Section */
.info{
    font-size: 125%;
    line-height: 1.7;
    padding: 1%;
    position: static;
}

.info a{
    color: white;
}

.info a:hover{
    color: black;
}

.local_front_img{
    height: auto;
    float: right;
    padding-left: 3%;
    width: 30%;
}

/* Footer */
.social{
    color: black;
    display: inline-block;
    padding: 1% 3%;
    text-decoration: none;
}

.social:hover{
    color: #FF7800;
}

.copyright{
    margin-top: 5%;
    margin-bottom: 1%;
}

/* Mobile Phone Responsiveness */
@media (max-width: 500px) {
    p {
      font-size: 14px;
    }


    .title {
        font-size: 40px;
        line-height: 1.2;
      }
      .sucursal {
        font-size: 18px;
      }
      .flavor_img{
        width: 70%;
    }
      .local_front_img{
        height: auto;
        width: 60%;
    }
}

@media (max-width: 900px) {
    .navbar .logo{
        display: none;
    }
}